/* Remove margin and padding from row and columns */
.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.col-md-3, .col-md-9, .col-lg-3, .col-lg-9 {
    padding-right: 0;
    padding-left: 0;
}

/* Add padding to the main content area */
.cala {
    padding: 20px;
    background-color: #f8f9fa;
    min-height: 100vh;
}

/* Style the container of the drinks */
.bebidas-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
    justify-content: center; /* Centraliza os itens horizontalmente */
}

/* Style each drink card */
.bebida-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1 1 calc(50% - 40px); /* Cada cartão ocupará 50% menos a margem */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-height: 400px; /* Limitar a altura do card */
    overflow: hidden; /* Esconder o excesso */
}

.bebida-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.bebida-card h3 {
    margin-top: 0;
    font-size: 1.5em;
    color: #343a40;
}

.bebida-card p {
    margin-bottom: 10px;
    font-size: 1.1em;
    color: #6c757d;
}

@media (max-width: 992px) {
    .bebida-card {
        flex: 1 1 calc(50% - 40px); /* Manter duas colunas em telas menores */
    }
}

@media (max-width: 768px) {
    .bebida-card {
        flex: 1 1 calc(100% - 40px); /* Uma coluna em telas muito pequenas */
    }
}

/* Sidebar specific styles */
.bar-sidebar .sidebar ul {
    list-style-type: none;
    padding: 0;
}

.bar-sidebar .sidebar a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.bar-sidebar .sidebar a:hover {
    background-color: #6c757d;
    color: #ffffff;
}

.bar-sidebar .sidebar .btn {
    width: 100%;
}

@media (max-width: 768px) {
    .bar-sidebar .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
}
