/* SidebarMenu.css */
#sidebar-item-cozinha,
#sidebar-item-bar,
#sidebar-item-churrasco,
#sidebar-item-produtos,
#sidebar-item-cadastrar-colaborador,
#sidebar-item-lista-de-colaboradores,
#sidebar-item-sair,
#sidebar-item-signout {
    transition: background-color 0.3s ease, color 0.3s ease;
    color: #000000; /* Cor do texto padrão */
}

#sidebar-item-cozinha:hover,
#sidebar-item-bar:hover,
#sidebar-item-churrasco:hover,
#sidebar-item-produtos:hover,
#sidebar-item-cadastrar-colaborador:hover,
#sidebar-item-lista-de-colaboradores:hover,
#sidebar-item-sair:hover,
#sidebar-item-signout:hover {
    background-color: #1976d2; /* Cor de fundo ao passar o mouse */
    color: #ffffff !important; /* Cor do texto ao passar o mouse */
}

.MuiListItemIcon-root {
    color: inherit; /* Mantém a cor do ícone igual à cor do texto */
}

#appbar {
    background-color: #1976d2; /* Cor de fundo do AppBar */
    color: #ffffff; /* Cor do texto do AppBar */
}

.MuiTypography-root {
    font-weight: bold; /* Texto em negrito */
}
.cor{
    height: 100vh;
    background-color: #5b91c9;
}